.back-bt
{
	color: inherit;
	display: inline-block;
	box-sizing: border-box;
	max-width: max(10vw, 9rem);

	padding: .5rem 2rem;
	margin: max(4vh, 4vw) var(--main-margin);
	font-size: 1.2rem;
	font-weight: 300;
	background-color: var(--nav-bg-color);
	border: none;

	border-radius: min(3%, 3vh);
	text-decoration: none;
}


.back-bt:active, .bt-like:active
{
	filter: brightness(80%);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 1);
}

main > section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main
{
	box-sizing: border-box;
	padding: 0 var(--main-margin);
	padding-bottom: 5rem;
	width: 100%;
	display: grid;
	gap: max(8vw, 8vh);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
}


main div img
{
	width: 100%;
	object-fit: cover;
}

.border-countries-section ul li
{
	display: inline-block;
}

.country-info
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.border-countries-section
{
	margin-top: minmax(1rem, 3rem);
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 1rem;
}


.border-countries-section h3
{
	font-size: 1rem;
}

.border-countries-list
{
	
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}


.no-list-style
{
	list-style: none;
	padding: 0;
}

.bt-like
{
	color: inherit;
	display: inline-block;
	box-sizing: border-box;

	padding: .2rem 1rem;
	font-size: 0.9rem;
	font-weight: 300;
	background-color: var(--nav-bg-color);
	border: none;
	border-radius: min(3%, 3vh);
	text-decoration: none;
}

.information-entry
{
	font-weight: 300;
	margin: 2rem 0;
}

.information-entry li
{
	margin: .5rem 0;
}

@media (width >= 1000px)
{
	.border-countries-list
	{
		margin-top: 7vh;
	}
}

@media (width <= 800px)
{
	main
	{
		grid-template-columns: 1fr;
		gap: 0;
	}
}

@media (width <= 550px)
{
	.country-info
	{
		grid-template-columns: 1fr;
	}
}