
/*************** general classes **************/
.no-style
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.bold-text
{
	font-weight: bold;
}

.small-shadow
{
	box-shadow: 0px 1px 7px var(--shadow-color);
	box-shadow: 0px -1px 7px var(--shadow-color);
	box-shadow: 1px 0px 7px var(--shadow-color);
	box-shadow: -1px 0px 7px var(--shadow-color);
}

.rounded-corner
{
	border: solid var(--nav-bg-color) 1px;
	border-radius: min(2vw, 1vh);
	overflow: hidden;
}

.search-padding
{
	padding: 1rem 1rem;
}

.filter-padding
{
	padding: 1rem 2rem;
}
/************************************/


/***************** default settings *********************/
:root
{
	/*constants*/
	--main-margin: clamp(2vw, 4rem, 3vw);

	--icon-path: url('../images/moon-dark.png');
	--light-icon-path: url('../images/moon-light.png');
	--dark-icon-path: url('../images/moon-light.png');
	--shadow-color: rgb(207, 207, 207);
	--text-color: black;
	--bg-color: #FAFAFA;
	--nav-bg-color: white;
}
/*******************************************************/


/************ color schemes preferences ************/
@media (prefers-color-scheme: dark)
{
	:root
	{
		--icon-path: url('../images/moon-light.png');
		--shadow-color:  rgb(29, 29, 32);
		--bg-color: #202d36;
		--nav-bg-color: #2b3743;
		--text-color: white;
	}
}

@media (prefers-color-scheme: light)
{
	:root
	{
		--icon-path: url('../images/moon-dark.png');
		--shadow-color:  rgb(207, 207, 207);
		--text-color: black;
		--bg-color: #FAFAFA;
		--nav-bg-color: white;
	}
}
/******************************************************/

/*	misc	*/
html, body
{
	padding: 0;
	margin: 0;
	color: var(--text-color);
	background-color: var(--bg-color);
}