main
{
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0 var(--main-margin);
	gap: 6rem;
}

figure
{
	word-break: break-all;
	padding: 0;
	margin: 0;
}

.country-card
{
	background-color: var(--nav-bg-color);
}

.country-card img
{
	width: 100%;
	object-fit: cover;
}

.country-card figcaption
{
	padding: 0 1rem 2rem;
	
}

.country-card figcaption p
{
	line-height: 50%;
	font-size: 1rem;
}

.country-card figcaption h2
{
	font-size: 1.2rem;

}


@media (width <= 500)
{
	main
	{
		grid-template-columns: 1fr;
	}
}

.ligher
{
	font-weight: 300;
}