.search
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: max(5vh, 5vw);
	margin: clamp(3vh, 3rem, 5vw) var(--main-margin);
}

.search-bar
{
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	background-color: var(--nav-bg-color);
	height: 3rem;
	align-items: center;
	width: min(30rem, calc(100% - var(--main-margin) / 2));
	box-shadow: 0px 1px 10px var(--shadow-color);
	box-shadow: 0px -1px 10px var(--shadow-color);
	box-shadow: 1px 0px 10px var(--shadow-color);
	box-shadow: -1px 0px 10px var(--shadow-color);

}

.search-bt, .search-input, .filter-options
{
	box-sizing: border-box;
	border: none;
	height: 90%;
	line-height: 90%;
	background-color: var(--nav-bg-color);
	color: var(--text-color);
	overflow: hidden;
	margin: 0;
}

.filter-options
{
	box-shadow: 0px 1px 10px var(--shadow-color);
	box-shadow: 0px -1px 10px var(--shadow-color);
	box-shadow: 1px 0px 10px var(--shadow-color);
	box-shadow: -1px 0px 10px var(--shadow-color);
}

.search-input
{
	width: 89%;
}


.search-bt
{
	font-weight: bolder;
	line-height: 100%;
	width: 10%;
}

.search-bt ion-icon
{
	font-size: 1rem;
	text-align: center;
}

.search-bt:focus-visible
{
	border: double green 2px;
}
